CREATE USER 'momandkids_app'@'localhost' IDENTIFIED BY 'password';

powershlel: mysqlsh --sql -u momandkids_app -p

The root/administrator password has been changed

Login: ssh root@104.207.74.238
Password: rz7pHcPb5G1k422FAX
[root@server1 ~]# id deploy
uid=1000(deploy) gid=1000(deploy) groups=1000(deploy)

Login: ssh deploy@104.207.74.238
         ssh -o PubkeyAuthentication=no deploy@104.207.74.238
         passsword: password

MYSQL workbrech passord: 5(TAESwvr:o#

[deploy@server1 ~]$ cat ~/.ssh/github_ed25519.pub
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIC6e/iWzHzwYpV26+2ttJRsyYuno5kh1+DYtqEe+JRou github-vps

Aug 12 10:09:39 server1.rakibvascular.com systemd[1]: Starting MySQL Server...
Aug 12 10:09:45 server1.rakibvascular.com systemd[1]: Started MySQL Server.
[deploy@server1 ~]$ sudo grep 'temporary password' /var/log/mysqld.log
2026-08-12T10:09:42.353527Z 6 [Note] [MY-010454] [Server] A temporary password is generated for root@localhost: 5(TAESwvr:o#

1. Enable firewall
    -- systemctl enable --now firewalld
    -- firewall-cmd --state
    [root@server1 ~]# firewall-cmd --list-all
public (active)
  target: default
  icmp-block-inversion: no
  interfaces: eth0
  sources:
  services: cockpit dhcpv6-client http https ssh
  ports:
  protocols:
  forward: yes
  masquerade: no
  forward-ports:
  source-ports:
  icmp-blocks:
  rich rules:

2. User 
 useradd -m -s /bin/bash deploy
[root@server1 ~]# passwd deploy
password: password

Private key:
C:\Users\saidu\.ssh\id_ed25519

Public key:
C:\Users\saidu\.ssh\id_ed25519.pub

PS C:\Windows\system32> type C:\Users\saidu\.ssh\id_ed25519.pub
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKO9YSnVs4vJZpb96YWNZCnT+wJUR/EReLJ9Jd5A0FI/ saidu@DESKTOP-6O8UPEM

[root@server1 ~]# ls -la /home/deploy/.ssh
total 12
drwx------ 2 deploy deploy 4096 Aug 12 08:49 .
drwx------ 3 deploy deploy 4096 Aug 12 07:29 ..
-rw------- 1 deploy deploy  111 Aug 12 08:50 authorized_keys


On your Windows PC, open a new PowerShell window and run:

ssh deploy@104.207.74.238

Your Windows SSH client should automatically use:

C:\Users\saidu\.ssh\id_ed25519

You should get:

[deploy@server1 ~]$

without asking for the deploy password.

If Windows asks for a password

Then run this on Windows:

ssh -v deploy@104.207.74.238

The debug output will tell us whether Windows is actually offering:

C:\Users\saidu\.ssh\id_ed25519


CREATE USER 'momandkids_app'@'localhost' IDENTIFIED BY '5(TAESwvr:o#';


[deploy@server1 momandkids]$ cat ~/.ssh/gh_actions_key
-----BEGIN OPENSSH PRIVATE KEY-----
b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAAAMwAAAAtzc2gtZW
QyNTUxOQAAACBS3NCNO0VLf98cIRh2Q/A2elOjU6LfnZD2duAIQePDRwAAAJhcnVDbXJ1Q
2wAAAAtzc2gtZWQyNTUxOQAAACBS3NCNO0VLf98cIRh2Q/A2elOjU6LfnZD2duAIQePDRw
AAAECBEE1UOOyc7x6ACigMWNAQZ+wS2jdE67iAaIrbLll4qFLc0I07RUt/3xwhGHZD8DZ6
U6NTot+dkPZ24AhB48NHAAAAFWdpdGh1Yi1hY3Rpb25zLWRlcGxveQ==
-----END OPENSSH PRIVATE KEY-----

git config --global user.email "mislam171222@bscse.uiu.ac.bd"
git config --global user.name "MuhammadSaidulislam"

db import command: scp "C:\Users\saidu\Downloads\momkids.sql" root@104.207.74.238:/root/ 
scp "C:\Users\saidu\Downloads\momkids.sql" deploy@104.207.74.238:/home/deploy/

1. ssh root@104.207.74.238
2. su - deploy
3. cd ~/momandkids
4. cd ~/momandkids
5. git pull origin main
6. npm install {if package.json is updated}
7. npm run build
8. pm2 restart momkids --update-env
9. pm2 status
10. pm2 logs momkids --lines 20 --nostream
11. curl http://localhost:3000/shop/Toys

pm2 logs momkids --lines 100 --nostream